* {
  margin: 0;
  padding: 0;
}

#root {
  padding-top: 100px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 3px solid magenta;
  box-sizing: border-box;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

input[type = "button"] {
  background-color: orangered;
  padding: 15px 20px;
}

input[type = "text"]  {
  text-align: end;
  box-sizing: border-box;
  border: 3px solid green;
  width: 100%;
  padding: 12px;
}